---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
import PostComments from "~/components/PostComments.astro";
---

<LayoutDefault>
  <div text-3xl mb-10>Todo</div>
  <PostComments />
</LayoutDefault>
