---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"footer">;

const { ...attrs } = Astro.props;

const { author } = Astro.locals.config;
---

<footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <a target="_blank" href="https://beian.miit.gov.cn">皖 ICP 备 2021010058 号</a
  ><p>© 2021-2024 By {author}</p>
  <script
    is:inline
    id="LA-DATA-WIDGET"
    crossorigin="anonymous"
    charset="UTF-8"
    src="https://v6-widget.51.la/v6/3F6cJC4GAXse6laY/quote.js?theme=#363636,#363636,#363636,#363636,#363636,#363636,12&f=12&display=0,0,0,1,0,0,0,1"
  ></script>
</footer>
