---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"footer">;

const { ...attrs } = Astro.props;

const { website, author } = Astro.locals.config;
---

<footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <a
    target="_blank"
    href="https://beian.miit.gov.cn/#/Integrated/index}"
    rel="noopener noreferrer">皖 ICP 备 2021010058 号</a
  >
  <p>
    © 2021-2024 By
    <a target="_blank" href={website} rel="noopener noreferrer">{author}</a>
  </p>
</footer>
